.page-header
{
    margin-bottom: 0px;
}
.container
{
    width: 70%;
}
#search .col-lg-3
{
    padding-left: 0;
    margin-left: 0;
}
ul li
{
    float: none;
}
.panel-footer
{
    text-align: center;
}

/*
vertical nabs design
*/
.nav nav-pills nav-stacked
{
    background-color: #ffff00;
}
.col-lg-3 ul li
{
    margin-top: 5px;
    background-color: #eeeeee;
}
#left-nav
{
    margin-top: 0;
    padding-top: 0;
}


/*
Design for main body content
putting space on top
*/
#content
{
    margin-top: 10px;
}
input[type='text']
{
    width: 200px;
}
